/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/08/2016, 14:46:51
    Author     : matheusanjos
*/

body {
    /*62.5% do default 16px dá 10px, facilitando depois pra usar em*/
    font: 62.5%/1.4 sans-serif;
}

main {
    margin : 10em auto 0 auto; /*top: 100px, right: auto, bottom: 0, left: auto*/
    width: 100%;
    max-width: 1024px;
}

#sobre main section{
    margin: 0 5em 2em 0;
    display: inline-block;
}

#sobre main section#contentAbout{
    max-width: 500px;
    width: 100%;
    margin-left: 16px;
    vertical-align: top;
}

#sobre main section#contentAbout ul li{
    font-size: 16px;
    list-style: circle;
}

main p{
    text-align: justify;
    font-size: 1.5em;
}

footer{
    background: #0E2B3D;
    margin-top: 2em;
}

footer section p{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
}

footer section p#nome:after{
    content: "(matheus.tristao@gmail.com)"
}

footer section a:hover{
    color: yellow;
}

footer img{
    height: 3em;
}

h1{
    font-size: 2.5em;
}

.negrito{
    font-weight: bold;
}

/*Menu responsivo 1*/

#menu{
    background-color: #0E2B3D;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; /*Deixa o menu na frente de outros elementos quando ele abaixa*/
}

#menu h1{
    text-align: center;
    color: #fff;
}

#menu nav{
    position: relative; /* Os filhos que  forem absolute vão se basear nele*/
    height: 4.5em; /* 4x10 = 40px*/
    font-weight: bold;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#menu nav figure{
    width: 15em;
    height: 4em;
    position: absolute;
    right: 0;
}

#menu nav figure img{
    float: right;
    height: 4em;
    margin: 0;
    padding:  2px;
}

#menu nav ul{
    position: absolute;
    left: 0;
    margin: 0; /*Tira margem esquerda do conjunto de intens do menu*/
    padding: 0;
}

#menu nav ul li{
    font-size: 1.4em; /* Tamanho da fonte vai ser 1.4 x 10 = 14px*/
    text-transform: uppercase;
    margin-right: 0.5em;
    margin-top: 0.7em;
    padding: 0;
    list-style: none; /* Remove a bolinha antes do li */
    display: inline-block; /* li ocupa só o espaço do seu conteúdo, em vez da linha toda*/
}

#menu nav a{
    padding: 0.5em 1.2em; /* Padding top e bottom de 5px e 12px para os itens do menu*/
    text-decoration: none; /* Remoção do sublinhado*/
    color: #fff;
}

#menu nav a:hover{
    background: #e2a618;
    color: #333;
    border-radius: 0.4em;
}

/*card que gira*/

/*Quando é feito hover no flip-container ou quando flipe-container tem a classe hover(adicionado com click) a classe .flipper rotaciona 180graus*/
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

/*Aqui é definido o tamanho do card e de todos os lados*/
.flip-container, .front, .back {
    width: 30em;
    height: 44em;
}

/* Abaixo é indicado que a figura vai ocupar 100% da largura do card*/
article figure{
    width: 100%;
    text-align: center;
    padding: 0.5em;
} 

article figure#backImage img{
    width: 100%;
}

article figure#imageMatheus img{
    width: 50%;
    border-radius: 50%;
}

.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

/* Mantém os dois lados no topo do card*/
.front{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    transform: rotateY(0deg);
    background: #1E2C39;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
}

.front #imageMatheus{
    height: 40%;
}

.front #description{
    padding: 5px;
    height: 60%;
    font-size: 16px;
    background: #B1464C;
    color: white;
}

.front #description ul li{
    border-bottom: 1px solid #fff;
    padding: 5px;
}

.front #description ul li:last-child{
    border: 0;
}

@media screen and (max-width: 680px) {

    body{
        margin: 0 0.5em 0 0.5em;
    }

    main {
        margin : 5em auto 0 auto; /*top: 100px, right: auto, bottom: 0, left: auto*/
    }

    #menu nav {
        position: relative;
        padding-top: 0.3em;
    }

    #menu h1, #menu figure{
        display: none;
    }	

    #menu nav ul{
        width: 100%;
    }

    /* display none nas opções do menu*/
    #menu nav ul li{
        background: #0E2B3D;
        display: none;
        margin: 0; 
    }	

    #menu nav li.current{
        display: block;
    }	

    #menu nav .current:after{
        content: "\2261";  /*Símbolo do menu sanduíche com três barras horizontais*/
        position: absolute; /* position absolute faz a referência ser o nav que tem position relative*/
        right: 0.7em; /* em relação ao nav, fica 7px à direita*/
        top: 0;
        font-size: 2em;
        color: #fff;
    }

    #menu nav a{
        display: block;
        padding: 0.5em 0.5em 0.5em 1em;
        text-align: left;
    }

    #menu .current a{
        width: 5.6em;
        margin-left: 0.5em;
    }

    /*Display block nas opçoes do menu caso hover no ul*/
    #menu nav ul:hover li  {
        cursor: pointer;
        display: block;
        border-bottom:1px solid #aedce9;
        margin: 0;
    }

    #menu nav ul li.mobile{
        display: block;
        border-bottom:1px solid #aedce9;
        margin: 0;
    }
}

